<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <application android:allowBackup="false" android:label="InstaPay Receiving Bridge">
    <receiver android:name=".BankSmsReceiver" android:exported="false">
      <intent-filter><action android:name="android.provider.Telephony.SMS_RECEIVED" /></intent-filter>
    </receiver>
    <service android:name=".BankNotificationListenerService" android:exported="false" android:label="InstaPay Receiving Bridge" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
      <intent-filter><action android:name="android.service.notification.NotificationListenerService" /></intent-filter>
    </service>
  </application>
</manifest>
